<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda Online</title>
    <link rel="stylesheet" href="/static/css/home.css" />
  </head>

  <body>
    <header>
      <h1>Tienda Online - Entrega final Backend 1 - Coderhouse</h1>
    </header>

    <main>

      <div class="productsContainer">
        <h2>Productos</h2>
        <ul class="product-list" id="products-list">
          {{!-- Aca van todos los productos listados --}}
        </ul>
      </div>
      
      <div class="searchContainer">
        <h1>Búsqueda de Productos</h1>
        <form id="searchForm" action="/api/products" method="GET">
          <label for="query">Buscar:</label>
          <input
            type="text"
            id="query"
            name="query"
            placeholder="Buscar por titulo, descrip, o categ"
          />

          <label for="category">Categoria:</label>
          <select id="category" name="category">
            <option value="">Seleccione una categoría</option>
            <option value="electronics">Electrónica</option>
            <option value="clothing">Ropa</option>
            <option value="home">Hogar</option>
          </select>

          <label for="availability">Disponibilidad:</label>
          <select id="availability" name="availability">
            <option value="">Seleccione disponibilidad</option>
            <option value="true">En stock</option>
            <option value="false">Agotado</option>
          </select>

          <label for="sort">Ordenar por precio:</label>
          <select id="sort" name="sort">
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
          </select>

          <button type="submit">Buscar</button>
        </form>
      </div>
      <div class="formContainer">
        <h2>Agregar un producto a la lista: </h2>
        <form id="productForm">
          <input type="text" id="title" placeholder="Título" required />
          <input
            type="text"
            id="description"
            placeholder="Descripción"
            required
          />
          <input type="text" id="code" placeholder="Código" required />
          <input type="number" id="price" placeholder="Precio" required />
          <input type="number" id="stock" placeholder="Stock" required />
          <input type="text" id="category" placeholder="Categoría" required />
          <input type="file" id="photo" accept="image/*" required />
          <button type="submit">Agregar Producto</button>
        </form>
      </div>
      <div class="cartsContainer">
        <h2>Carritos Disponibles:</h2>
        <ul id="carts-list">
         {{!-- aca van todos los carritos --}}
        </ul>
      </div>

    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>