* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 60px;
}
body {
  font-family: Arial, sans-serif;
}
main {
  display: flex;
}
header {
  background-color: #35424a;
  color: white;
  padding: 1rem;
  text-align: center;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.product {
  border: 10px solid black;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
}
form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.formContainer {
  border: 2px solid black;
}
.productsContainer {
  border: 2px solid black;
}
.cartsContainer {
  border: 2px solid black;
}
